<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Log in</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
<!--header-->
<div th:replace="layouts/commonHeader :: header">My header will go here.</div>
<!--content-->
<div layout:fragment="content"></div>
<!--footer-->
<div th:replace="layouts/commonFooter :: footer">My footer will go here.</div>
</body>

</html>