<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div th:replace="layouts/commonHeader :: header">my header goes here</div>

    <div layout:fragment="content"></div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
<script>
    const deleteButtons = document.querySelectorAll('.delete-button');
    const deleteForm = document.querySelectorAll('.delete-form');

    deleteButtons.forEach(button => {
        button.addEventListener('click', function () {
            const confirmed = window.confirm("Are you sure you want to delete this entry?");

            if (confirmed) {
                deleteForm.submit();
            }
        });
    });
</script>
</html>